# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @sthormio/devs

# These owners will be the default owners for everything in the frameworks folder.
frameworks/*        @sthormio/devs

# These are owners for a specific engineering file extension
*.js        @sthormio/devs
*.json      @sthormio/devs
*.css       @sthormio/devs

# These are owners for a specific framework area
frameworks/operations/*         @sthormio/devs
frameworks/design/*             @sthormio/devs
frameworks/engineering/*        @sthormio/devs

# These are owners for a specific framework file
frameworks/product.md               @sthormio/devs
frameworks/people.md                @sthormio/devs
frameworks/generic.md               @sthormio/devs
frameworks/executive-support.md     @sthormio/devs
frameworks/marketing.md             @sthormio/devs
frameworks/customer-operations.md   @sthormio/devs

# These are owners for a specific engineering file or folder
src/*                   @sthormio/devs
stubs/*                 @sthormio/devs
.eslintignore           @sthormio/devs
.eslintrc               @sthormio/devs
.flowconfig             @sthormio/devs
.gitignore              @sthormio/devs
.prettierrc             @sthormio/devs
CODEOWNERS              @sthormio/devs
README.md               @sthormio/devs
gatsby-config.js        @sthormio/devs
gatsby-browser.js       @sthormio/devs
gatsby-node.js          @sthormio/devs
netlify.toml            @sthormio/devs
package.json            @sthormio/devs
yarn.lock               @sthormio/devs
